

:root{

    --logo: #0001FE;
    --dark:#1E2326;
    --graywater: #ebebeb;
    --bolder: #757575;

    --shadow: 0 1px 4px rgba(104,104,104, .08);
    
  }


* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;


}

.container-wrap{
max-width: 1550px;
margin: 0 auto;
}


.demo {
  position: relative;
  width: 100%;
  height: 100%;
  // z-index: -1;
 
}
.demo::after {
  position: absolute;
  bottom: 0;
  left: 0;
  // z-index: -1;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}



#section-hero{ background: url('../imgs/care/care1.jpg') center center / cover no-repeat;}

.brand-flex{
  box-shadow: var(--shadow);

}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  z-index: 2;
}

.demo a:hover {
  opacity: .5;
}


#section-hero a {
  padding-top: 60px;
  z-index: 1;

  -webkit-animation: fadein 13s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 13s; /* Firefox < 16 */
   -ms-animation: fadein 13s; /* Internet Explorer */
    -o-animation: fadein 13s; /* Opera < 12.1 */
       animation: fadein 13s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

#section-hero a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
            transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
  }
}



.hero-steps{
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
 height: 80%;
 width: auto;
justify-content: center;
z-index: 1;

  h1{
 
    color: var(--graywater);
    
 
  }

  p{
 
    color: var(--graywater);
   
  }


}

// Showcase
.wrapper{
  display: grid;
  grid-gap: 20px;
  margin: 3em;

}




.top-container{
display: grid;
grid-gap: 20px;
grid-template-areas: 
'showcase showcase box-a'
'showcase showcase  box-b';
}


.showcase{
  grid-area:showcase;
  min-height: 400px;
  background: url(/imgs/care/shinyedge.JPG);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: (--shadow);
  // position: relative;


  h1{

    font-size: 1.9rem;
    margin-bottom: 0;
    color:white;
    

  }
  p{
    font-size: 1.3rem;
    margin-top: 0;
    color: white;

  }


}


.top-box{
  // background: var(--bolder);
  background-color: #1E2326;
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.3rem;

  h4{
    color: var(--graywater);
  }

}


.box-a{
  grid-area: box-a;
  background-color: #787A7A;
  // background-image: url(/imgs/care/marblebk.jpeg);
  box-shadow: inset -1.2em .20em  50px white; 
 
}
.box-b{
  grid-area: box-b;

}








@media(max-width:780px){
  .top-container{
    grid-template-areas: 
    'showcase showcase'
    'box-a    box-b';
  }
  .wrapper{
    margin: .04em;
    margin-bottom: 1em;
  }
  .info-sec{
    display: none;
  }
  .info-title{
    text-align: center;
  }
}



// SIDE UP 
.relief {
  cursor: pointer;
//  box-shadow: inset 140px 150px 150px white;
  position: relative;
  overflow: hidden;
 width: auto;
  text-align: center;
  background-image: url('/imgs/care/dirty.jpg');
  height: 600px;
  width: 100%;
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.relief .fadedbox {
  background-color: #333D3D;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  height: 600px;
  width: 100%;
  padding: 130px 20px;
}
.relief:hover .fadedbox {
  opacity: 0.8;
}
.relief .text {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}
.relief .title {
  font-size: 4.2vw;
  font-family: 'Arapey', serif;
  text-transform: uppercase;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
}
.title hr{

   border: 0;
   height: 1px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

.relief:hover .title,
.relief:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.btn-fund{
 background-color: white;
 border: none;
 color: #999489;
}
.btn-fund:active{
background-color:  white;
border: none;
color: #999489;
}
.btn-fund:hover{
background-color:  white;
border: none;
color: #999489;
}
.btn-fund:focus{
 background-color:  white;
border: none;
color:#999489;
}











.info-sec{
  margin-top: 40px;
  
  }
  

  hr{
    border: 0;
    
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  .info-title{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: left;
    
    box-shadow: inset -1px -4px 5px var(--graywater);

  
}


.info-title-text{
  margin-top: 3em;
}

$red: #1E2326;
$blue: #787A7A;
$hover_size: 1.5;


.container-split {
  margin-top: 30px;
  max-width: 1550px;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height:auto;
  font-size: 1rem;
  
  .maintance-info-focus{
    font-size: 1.1rem;
    }

  p{
    font-size: .95rem;
  }
 

  div {
    flex: 1;
    //height: 100vh;
    transition: flex 0.5s ease-out;
    color: white;
    font-family: sans-serif;
    text-align: left;

    
    h3 {
      margin-top: 30px;
      transition: color 0.5s ease-out;
      
    }
    
    &:hover {
      flex: $hover_size;
    }
    
  }

  .split{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 3em;
    font-size: .9rem;
  }
  .left {
    background: $red;
    
    
    &:hover {
      
      h3 {
        color: $blue;
    
      }
      
    }
  }
  
  .right {
    background: $blue;
    
     &:hover {
      
      h3 {
        color: $red;
      }
      
    }
  }
  
}
@media(max-width:770px){
  .container-split{
    flex-direction: column;
 
  }

}
