
:root{

    --blue: #0001FE;
    --stormgray:#6A6C7A;
    --fontcolor:#084298;
    --graywater: #ebebeb;
    --bolder: #757575;
	--about-p: #e9ecef;
    --shadow: 0 1px 4px rgba(104,104,104,0.8);
  
  }



.wrapper{
    max-width: 1600px;
    margin: auto 0;
}


.welcome-top {

  background: rgb(0,1,254);
  background: linear-gradient(110deg, rgba(0,1,254,0.989233193277311) 9%, rgba(60,86,179,0.7511379551820728) 42%);
  color: var(--about-p);
  line-height: 1.4;

}

@media (max-width: 600px) {
.welcome-top{
    background: linear-gradient(180deg, rgba(0,1,254,0.989233193277311) 9%, rgba(60,86,179,0.7511379551820728) 54%);

   }   
}
.btn{
	border-radius: 0;
}
.btn-light{
    width: 80px;

}


.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
 
  
  h3 {
    font-weight: 600;
    white-space: nowrap;
    font-size: clamp(2rem, 3vw, 4rem);

  }
  
  p {
    font-size: clamp(1rem, 1.5vw, 2rem);
  }
}

.image-wrapper {
  height: 100%;
  width: 100%;
  clip-path: polygon(0%, 0%, 0% 0%);

  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right center;
  }
}



@media (min-width: 600px) {
    .welcome-top {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
    
    .about-us  {
      padding: 3vw 0 3vh 3vw;
    
    }
   
    
  
    
    .image-wrapper {
      filter: hue-rotate(20deg);
      clip-path: polygon(0% 100%, 30% 0%, 100% 0%, 100% 100%);
    }



        
  }




.about-desc{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  text-align: left;

  h3{
      color: var(--bolder);
  }


  p{
      color: var(--stormgray);
	  margin: .7em;

  }
  
}



//   Our Process Section
h1 {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 6rem;
	line-height: 1.333em;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 0.08rem;
	margin-top: 2.4rem;
	margin-bottom: 2.4rem;
}
h1.numbered {
	font-size: 2.4rem;
}
h1.numbered::before {
	font-size: 1rem;
	line-height: 1em;
	margin-top: -0.3em;
	display: block;
	opacity: 0.25;

	content: 'Where it all begins at ' counter(section);
}
p {
	margin-top: 2.4rem;
	margin-bottom: 2.4rem;
}
@media (min-width: 960px) {
	h1 {
		font-size: 9rem;
	}
	h1.numbered {
		font-size: 3.6rem;
	}
	h1.numbered::before {

		font-size: 1.3rem;
	}
}

svg {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}


/*  FRAME  */


/*  SECTIONS  */
	.section {
		min-height: 100vh;
		color: #fff;
		padding: 2em;
		background: #f9fafb;
	}
	@media all and (min-width: 640px) {
		.section {
			padding: 4em;
		}
	}
	@media all and (min-width: 960px) {
		.section {
			padding: 6em;
		}
	}


/*  SPLIT VISION  */
	.split-vision {
		overflow: hidden;
	}
	.split-vision .column .content {
		max-width: 540px;
		padding-top: 1em;
		padding-bottom: 1em;
		margin-right: auto;
		margin-left: auto;
		position: relative;
		z-index: 2;
	}


	@media all and (min-width: 960px) {
		.split-vision .column .content {
			margin-right: 0;
		}
		.split-vision.reverse .column .content {
			margin-left: 0;
		}
	}


/*  PROCESS  */
	.process {
		width: 100%;
		max-width: none;
	}
	.process .discover,
	.process .design,
	.process .implement,
	.process .develop,
	.process .deliver {
		opacity: 0.8;
		transform: scaleY(0);
		transform-origin: 50% 100%;
		transition: opacity 0.25s;
	}
	.process.js-animate .discover,
	.process.js-animate .design,
	.process.js-animate .implement,
	.process.js-animate .develop,
	.process.js-animate .deliver {
		animation: grow-up 1s forwards;
	}
	.process.js-animate .discover {
		animation-delay: 0.25s;
	}
	.process.js-animate .design {
		animation-delay: 0.5s;
	}
	.process.js-animate .implement {
		animation-delay: 0.75s;
	}
	.process.js-animate .develop {
		animation-delay: 1s;
	}
	.process.js-animate .deliver {
		animation-delay: 1.25s;
	}

	@keyframes grow-up {
		0% {
			transform: scaleY(0);
		}
		50% {
			transform: scaleY(1.1);
		}
		80%,
		100% {
			transform: scaleY(1);
		}
	}

	.process-details {
		max-width: 1440px;
		padding: 2em;
		margin-right: auto;
        margin-left: auto;
        color: var(--fontcolor);
	}
	.process-details .discover,
	.process-details .design,
	.process-details .implement,
	.process-details .develop,
	.process-details .deliver {
		max-width: 480px;
		padding: 1em 0;
		margin-right: auto;
		margin-left: auto;
		transition: opacity 0.25s;
	}
	.process-details .discover .heading,
	.process-details .design .heading,
	.process-details .implement .heading,
	.process-details .develop .heading,
	.process-details .deliver .heading {
		font-weight: 700;
	}
	.process-details .discover .heading::after,
	.process-details .design .heading::after,
	.process-details .implement .heading::after,
	.process-details .develop .heading::after,
	.process-details .deliver .heading::after {
		width: 40px;
		height: 4px;
		margin-top: 0.25em;
		display: block;
		content: '';
	}
	.process-details .discover .heading::after {
		background: #50b1aa;
	}
	.process-details .design .heading::after {
		background: #f57a73;
	}
	.process-details .implement .heading::after {
		background: #ffb566;
	}
	.process-details .develop .heading::after {
		background: #43c0e6;
	}
	.process-details .deliver .heading::after {
		background: #60666a;
	}

	@media all and (min-width: 800px) {
		.process-details {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.process-details .discover,
		.process-details .design,
		.process-details .implement,
		.process-details .develop,
		.process-details .deliver {
			width: 50%;
			padding-right: 1em;
			padding-left: 1em;
		}

		.process-details .discover {
			order: 1;
		}
		.process-details .design {
			margin-right: 0;
			order: 4;
		}
		.process-details .implement {
			order: 2;
		}
		.process-details .develop {
			margin-left: 0;
			order: 5;
		}
		.process-details .deliver {
			order: 3;
		}
	}
	@media all and (min-width: 800px) {
		.process-details .discover,
		.process-details .design,
		.process-details .implement,
		.process-details .develop,
		.process-details .deliver {
			width: 33.3334%;
		}
	}
	@media all and (min-width: 1280px) {
		.process-details .discover,
		.process-details .design,
		.process-details .implement,
		.process-details .develop,
		.process-details .deliver {
			padding-right: 2em;
			padding-left: 2em;
		}
    }
    



    // testimonials section

    .reviews{
       
        margin:15px;
        margin-top: 0;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
    }

    .boxes{
        background: white;
        text-align: center;
        box-shadow: var(--shadow);
        padding: 20px;
        font-size: .9rem;

    }

   


    .g-2{
        height: fit-content;
    }

    .card {
        border: none;
        height: 330px;
    }

    
    .user-content p {
        margin-top: 5px;
        font-size: 12px;
        height:fit-content
    }
    
    .ratings i {
        color: blue
    }

    .btn-rev{
        background-color: var(--bolder);
        padding: 5px;
        box-shadow: none;
        font-size: .9rem;
        margin-top: 20px;
        width: 100px;
        color: white;
    }