@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
:root{

    --blue: #0001FE;
    --stormgray:#6A6C7A;
    --graywater: #ebebeb;
    --bolder: #757575;

    --shadow: 0 1px 4px rgba(104,104,104,0.8);
  }




h1 {
  margin-top: 2rem;
  position: relative;
  font-size: 2rem;
  color: var(--bolder);
}

h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
 
}


h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
 

}


h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background-color: var(--graywater);
  z-index: -1;
  transition: transform .3s ease;
 

}





.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    margin-bottom: 4em;
    p{
      font-size: 1rem;
      padding-right: 1em;
      padding-left: 1em;
    }
}


  @media (max-width: 960px) {
    .gallery-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50vh;

        p{
          padding-right: .3em;
          padding-left: .3em;
        }
   
      }

      .about-res{
        font-size: .98rem;
      }

      
      


}

  
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
  
    &:hover{
      flex: 7;
    }
  }
  
  .item-1 { 
    background-image: url('../imgs/resource/granite.jpg');

  }

  
  .item-2 { 
    background-image: url('../imgs/resource/limestone.jpg');
  }
  
  .item-3 { 
    background-image: url('../imgs/resource/marble.jpg');
  }
  
  .item-4 { 
    background-image: url('../imgs/resource/quartz.jpg');
  }
  
 
  .social{
    position: absolute;
    right: 35px;
    bottom: 0;
    
    img{
      display: block;
      width: 32px;
    }
  }


//   Text that display on the images.

  .d-text-1 , .d-text-2 , .d-text-3 , .d-text-4{
      display: none;
  
  }

//   Resource top intro 


.overlay{
    // position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #bfb5b5;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;

    padding: 20px;
    text-align: left;
    box-shadow: inset var(--shadow);
    overflow: auto;
}




.container:hover .overlay {
    opacity: 1;
  }